#sign-up-modal .modal {
   height: 529px;
   margin: 0 0 0 -311px;
   width: 620px;
   top: 83px;

   div.modal-body {
      height: 414px;
      margin: 0;
      padding: 0;

      #sign-up-form {
         padding-top: 14px;
         width: 557px;

         div {


            &.sprite {
               background: url('../img/global/modal-sprite.png') no-repeat;

               &.logo {
                  background-position: 0px 0px;
                  height: 47px;
                  width: 68px;
               }
            }

            &.terms {
               padding: 15px 0 0 25px;
               width: 240px;

               div.checkbox {
                  background-position: -78px -20px;
                  cursor: pointer;
                  height: 15px;
                  margin: 0;
                  padding: 0;
                  width: 20px;

                  &.checked { background-position: -78px 0px; }
               }

               p {
                  font-size: 12px;
                  font-weight: bold;
                  padding-left: 5px;
                  position: relative;
                  top: -1px;
                  
                  a {
                     color: $teal;

                     &:hover { color: black; }
                  }
               }
            }

            &.create-account {
               display: block;
               font-size: 22px;
               font-weight: lighter;
               padding: 10px 30px;
               position: relative;
               right: -11px;
            }
         }
      }
      
      #sign-up-success {
         p {
            font-size: 18px;
            line-height: 26px;
            margin: 0;
            padding: 0;
            text-align: center;

            &.success {
               color: $teal;
               font-weight: bold;
            }
         }

         div.sprite {
            background: url('../img/global/modal-sign-up-success.jpg') center 14px no-repeat;
            height: 294px;
            margin: 0 auto;
            padding: 14px 0;
            width: 560px;
         }
      }
   }
}