#terms-modal .modal {
   height: 529px;
   margin: 0 0 0 -311px;
   width: 620px;
   top: 83px;

   div.modal-body {
      height: 414px;
      margin: 0;
      overflow: scroll;
      padding: 0;

      div.content {
         h1 { font-size: 20px; }

         p { font-size: 12px; }
      }
   }

   div.go-back {
      cursor: pointer;
      color: white;
      float: left;
      padding-top: 20px;
      font-weight: bold;

      &:hover { color: $teal; }
   }
}