$teal : #009490;
$pink : #ee528f;
$gold : #ffae00;
$yellow : #ffef29;
$purple : purple;
@import 'config/mixins';
@import 'elements/media-element';

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

// Global
* {
   //:not(i) { font-family: 'Yanone Kaffeesatz', sans-serif; }
   outline: none !important;
}
html,
body {
   background: black;
   height: 100%;
   /* The html and body elements cannot have any padding or margin. */
}
body {
   @include bg-image('textures/dark_mosaic.png');
   //@include bg-image('textures/black_mamba.png');
   //background: black;
   &.modal-open { margin: 0; }
}
#bg-image {
   //@include bg-image('bg/4.jpg');
   //background-position: center top;
   //background-repeat: no-repeat;
   min-height: 100%;
   position: fixed;
   top: 0;
   min-width: 100%;
   @include opacity(.85);
}
a.teal {
   color: $teal;
   &:hover { color: black; }
}
.default-font {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.text-teal { color: $teal; }
.text-pink { color: $pink; }
.text-gold { color: $gold; }
.text-yellow { color: $yellow; }
.text-purple { color: $purple; }
input[type=text],
input[type=password] {
   color: black;
   font-size: 16px;
}

// Navigation
.navbar {
   @include border-radius(0);
   height: 60px;
   background: #ffffff; /* Old browsers */
   background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
   background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
   .navbar-header {
      margin-bottom: 7px;
   }
}
a.navbar-brand {
   padding: 0;
   svg {
      height: 52px;
      left: -25px;
      position: relative;
      top: 3px;
   }
}
i.options-menu {
   border-left: 1px solid #ccc;
   padding-left: 15px;
   font-size: 26px;
   position: absolute;
   top: 17px;
   right: 20px;
   cursor: pointer;
}
.navbar-toggle {
   position: relative;
   top: 10px;
}
.navbar-default {
   border: none;
   border-bottom: 1px solid black;
   position: fixed;
   width: 100%;
   top: 0;
}

// Search Bar
.navbar-form {
   margin: 0;
   border: none;
   padding: 0;
   .form-group {
      margin: 0;
      position: absolute;
      right: 100px;
      top: 12px;
      input[type=text] {
//         @include customFont();
//         letter-spacing: .8px;
         font-size: 14px;
         width: 220px;
      }
      i {
         cursor: pointer;
         font-size: 22px;
         top: 7px;
         margin: 0;
         position: absolute;
         right: -30px;
      }
   }
}
[data-platform="mac"],
[data-platform="windows"] {
   .navbar-form .form-group i {
      top: 5px;
   }
}

// Player
/* Wrapper for page content to push down footer */
#wrap {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   /* Negative indent footer by its height */
   margin: 0 auto -60px;
   /* Pad bottom by footer height */
   padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#player {
   display: none;
   //bottom: -60px;
   position: fixed;
   width: 100%;
   height: 60px;
   z-index: 10;
   div.now-playing {
      height: 26px;
//      background: rgb(69,72,77); /* Old browsers */
//      background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
//      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
//      background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
//      background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
//      background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
//      background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
//      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
//      background: rgba(0,0,0,.8);
      @include bg-image('textures/binding_dark.png');
      border-top: 1px solid black;
      p {
         color: white;
         margin: 0;
         padding: 0;
         text-align: left;
         position: relative;
         top: 5px;
//         letter-spacing: 1px;
         font-size: 14px;
         left: 10px;
         span {
            letter-spacing: 0;
         }
      }
   }
   div.element {
      height: 34px;
      i.icon-heart {
         cursor: pointer;
         font-size: 16px;
         float: right;
         position: relative;
         right: 10px;
         top: 8px;
         color: #999;
         z-index: 5;
         &.favorite { color: $pink; }
      }
   }
   .toggle-player-bar {
      display: none;
      background: #333;
      cursor: pointer;
      height: 22px;
      left: 50%;
      margin-left: -50px;
      text-align: center;
      width: 100px;
      bottom: 60px;
      position: absolute;
      @include border-radius(6px 6px 0 0);
      i {
         color: white;
         cursor: pointer;
         position: relative;
         top: 3px;
      }
   }
}
[data-platform="mac"],
[data-platform="windows"] {
   #player {
      div.element {
         i.icon-heart {
            right: 9px;
            top: 7px;
         }
      }
   }
}

// Modal
.alert {
   .close {
      margin: 0;
      top: 1px;
   }
   p {
      font-size: 16px;
   }
}
.modal {
   overflow-y: auto;
}
.modal-backdrop {
   background: rgba(0,0,0,.7) !important;
}
.modal-header {
   .close {
      margin: 0;
      position: relative;
      top: 2px;
   }
   h4 {
      //font-family: 'Yanone Kaffeesatz', sans-serif;
      //letter-spacing: 1px;
      color: black;
      font-weight: bold;
   }
}
.modal-body {
   padding: 15px;
   @include border-radius(0 0 6px 6px);
   background-color: #f8f8f8;
   .list-group {
      margin: 0;
   }
   input[type=text], input[type=password] {
      background: white;
      color: black;
      font-size: 16px;
      height: auto;
      padding: 10px;
      margin-bottom: 15px;
      &:last-child {
         margin-bottom: 0;
      }
   }
}
.modal-content {
   &.hidden {
      @include box-shadow(none !important);
      border: none;
   }
}
.modal-footer {
   margin: 0;
   button {
      //display: block;
      //@include customFont();
      width: 49%;
      font-size: 12px;
      @include border-radius(0);
      height: 40px;
//      letter-spacing: 1px;
      text-transform: uppercase;
      &:hover {
         text-decoration: none;
      }
   }
   padding: 15px;
   label.checkbox {
      margin-top: 5px;
      margin-bottom: 15px;
   }
}

// Login
#login {
   .modal-footer {

   }
}

// User Menu
#user-menu {
   .modal-body {
      padding: 15px;
      button {
//         display: block;
//         @include customFont();
         width: 49%;
         margin-bottom: 10px;
         font-size: 12px;
         @include border-radius(0);
         height: 40px;
//         letter-spacing: 1px;
         text-transform: uppercase;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}

// Desktop
#desktop {
   max-width: 100%;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 30px;
   padding-top: 60px;
   div.col-xs-4 {
      padding-left: 10px;
      padding-right: 10px;
   }
   div.desktop-icon {
      margin-top: 20px;
      border: 1px solid transparent;
      cursor: pointer;
      width: 100%;
      height: 94px;
      background: rgba(0,0,0,.75);
//      @include border-radius(6px);
      @include border-radius(0px);
      text-align: center;
      color: white;
      position: relative;
      padding-top: 3px;
      svg {
         cursor: pointer;
         height: 56px;
         margin: 5px 0;
         fill: white;
      }
      p {
         cursor: pointer;
         margin: 0;
      }
      &.svg-teal svg:not(.auto-color) {
         fill: $teal;
         * { fill: $teal; }
      }
      &.svg-pink svg:not(.auto-color) {
         fill: $pink;
         * { fill: $pink; }
      }
      &.svg-gold svg:not(.auto-color) {
         fill: $gold;
         * { fill: $gold; }
      }
      &.svg-yellow svg:not(.auto-color) {
         fill: $yellow;
         * { fill: $yellow; }
      }
      &.svg-purple svg:not(.auto-color) {
         fill: $purple;
         * { fill: $purple; }
      }
      svg.browse-artists path.record,
      svg.now-playing polygon.playbtn,
      svg.latest-mixes path.plus,
      svg.my-playlist path.big-heart {
         fill: white !important;
      }
      &[data-page='now-playing'] {
         //svg { height: 50px; }
      }
      &.disabled {
         @include opacity(.3);
      }
      &:not(.disabled) {
         z-index: 5;
      }
      &:hover {
         border: 1px solid white;
         background: rgba(0,0,0,.8);
      }
   }
}

// Loading Page
#loading-page {
   text-align: center;
   height: 100%;
   position: fixed;
   width: 100%;
   z-index: 5000;
   background: rgba(0,0,0,.4);
   div.lp-contents {
      position: relative;
      height: 100%;
      width: 100%;
      @include border-radius(6px);
      div.bg {
         @include bg-image('textures/binding_dark.png');
         @include opacity(.7);
         position: absolute;
//         z-index: 10;
         height: 100%;
         width: 100%;
      }
      img {
         position: absolute;
//         top: 50%;
//         left: 50%;
         margin-left: -16px;
//         margin-top: -16px;
         right: 20px;
         bottom: 20px;
         width: 32px;
      }
      p {
         @include customFont();
         color: white;
         font-size: 16px;
         margin-top: 10px;
         @include text-shadow(0px 1px 0px black);
      }
   }
}

// Loading
#loading {
   display: none;
   width: 32px;
   margin: 0 auto;
   position: absolute;
   left: 50%;
   margin-left: -16px;
   top: 50%;
   margin-top: -16px;
   z-index: 10000;
}

// Overlay
#overlay {
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
}

// App
#app {
   display: none;

   a.list-group-item {
      @include border-radius(0);
      border-left: none;
      border-right: none;
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
      background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      h2, h3 {
         margin: 0;
      }
      h3 {
         font-size: 18px;
      }
      i.icon-chevron-sign-right {
         font-size: 18px;
         position: relative;
      }
      &.current-mix,
      &:hover {
         background: #f3f3f3;
      }
   }

   &>div {
      //background: rgba(0,0,0,.7);
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 5;
      &.bg {
         //@include bg-image('textures/black_linen_v2.png');
         //background: black;
         @include bg-image('textures/binding_dark.png');
         @include opacity(.9);
      }
      &.header {
         display: none;
         top: 60PX;
         //background: black;
         @include bg-image('textures/binding_dark.png');
         z-index: 10;
         height: 40px;
         i {
            &.go-back {
               display: none;
               font-size: 22px;
               margin: 9px 0 0 15px;
               color: #666;
               cursor: pointer;
               &:hover { color: white; }
            }
            &.icon-remove {
               font-size: 22px;
               margin: 8px 15px 0;
               color: #666;
               cursor: pointer;
               &:hover { color: white; }
            }
         }
         h3 {
            font-weight: bold;
            float: left;
            margin: 11px 0 0 15px;
            font-size: 18px;
            @include ellipsis(68%);
         }
      }
      &.content {
         background: none;
         //@include bg-image('textures/honey_im_subtle.png');
         display:none;
         z-index: 6;
         padding-top: 100px;
         overflow: scroll;
         overflow-x: hidden;
         div.inner {
            height: 100%;
            position: relative;
            &> span {
               display: block;
               height: 100%;
               div.pb {
                  padding-bottom: 60px;
               }
            }
         }
      }
   }
}

// Now Playing
#now-playing {
   display: block;
   padding: 15px;
   background: white;
   border-bottom: 1px solid black;
   height: 100%;
   position: relative;
   div.artwork {
      background: #ccc;
      margin-right: 15px;
   }
   div.info {
      h4 {
         font-size: 30px;
         margin: 0;
      }
      h5 {
         font-size: 14px;
      }
   }
}

// My Playlist
#my-playlist {

}

// Browse By Artist
#browse-by-artist {

   &> div {
      * { cursor: pointer; }
      cursor: pointer;
      position: absolute;
      width: 100%;
   }

   #browse-by-artist-letter {

   }

   #browse-by-artist-list {

   }

   #browse-by-artist-mixes {

   }

}

// Latest Mixes
#latest-mixes {
   #latest-mixes-list {
      display:none;
      a.list-group-item {
         @include border-radius(0);
         border-left: none;
         border-right: none;
         &.current-mix,
         &:hover {
            background: #f3f3f3;
         }
      }
   }
}

// Search Results
#search {
   input[list=mix-list] {
      border: none;
      width: 100%;
      font-size: 28px;
//      border-bottom: 1px solid #ddd;
      padding: 5px 15px;
   }
   img.search-loading {
      display: none;
      position: absolute;
      right: 15px;
      width: 24px;
      top: 12px;
   }
   #search-results {
      p {
         background: white;
         padding: 15px;
         border-top: 1px solid #ddd;
         border-bottom: 1px solid #ddd;
      }
   }
}

// Only Extra Small
@media (max-width: 668px) {
   #desktop {
      div.desktop-icon svg {
         width: 100%;
      }
   }
   #player {
      .toggle-player-bar {
         display: block;
      }
   }
   .navbar-header {
      button {
         position: absolute;
         top: -99999px;
      }
   }
   .navbar-form {
      .form-group {
         input[type=text] {
            display: none;
         }
         i {}
      }
   }
   div.pb {
      padding-bottom: 0;
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 668px) {
   .modal-dialog {
      //width: auto !important;
   }
   #desktop {
      padding-top: 60px !important;
      div.desktop-icon {
         text-align: left;
         svg {
            height: 60px;
            float: left;
            top: 10px;
            position: relative;
         }
         p {
            font-size: 18px;
            margin-top: 4px;
            position: relative;
            top: 28px;
            @include text-shadow(0px 1px 1px black);
         }
      }
   }
   #player {
      bottom: 0px !important;
   }
   #app {
      div.content {
         padding-bottom: 60px;
      }
   }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}