$teal : #009490;
$pink : #ee528f;
@import 'config/mixins';
@import 'elements/media-element';

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

* {
   font-family: 'Yanone Kaffeesatz', sans-serif;
   outline: none !important;
}

html,
body {
   height: 100%;
   /* The html and body elements cannot have any padding or margin. */
}

body {
   //@include bg-image('textures/fancy_deboss.png');
}

a.teal {
   color: $teal;
   &:hover { color: black; }
}

// Navigation
a.navbar-brand {
   padding: 0;
   svg { width: 170px; }
}

i.real-menu {
   display: none;
   font-size: 26px;
   position: relative;
   top: 23px;
   right: 25px;
   cursor: pointer;
}

.navbar-toggle {
   position: relative;
   top: 10px;
}

// Search Bar
.navbar-collapse {
   .navbar-form {
      margin: 0;
      border: none;
      padding: 0;
      .form-group {
         margin: 10px 0;
         input[type=text] {
            color: black;
            width: 90%;
            letter-spacing: .8px;
            font-size: 16px;
            margin-bottom: 10px;
         }
         i {
            cursor: pointer;
            font-size: 22px;
            position: relative;
            top: 5px;
            left: 10px;
         }
      }
   }
}

.toggle-search-bar,
.toggle-player-bar {
   display: none;
   background: #333;
   cursor: pointer;
   height: 22px;
   left: 50%;
   margin-left: -50px;
   position: absolute;
   text-align: center;
   width: 100px;
   i {
      color: white;
      cursor: pointer;
      position: relative;
      top: 3px;
   }
}

.toggle-search-bar {
   bottom: -22px;
   @include border-radius(0 0 6px 6px);
}

.toggle-player-bar {
   bottom: 60px;
   @include border-radius(6px 6px 0 0);
}

/* Wrapper for page content to push down footer */
#wrap {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   /* Negative indent footer by its height */
   margin: 0 auto -60px;
   /* Pad bottom by footer height */
   padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
   background-color: #f8f8f8;
   bottom: -60px;
   position: fixed;
   width: 100%;
   height: 60px;
   div.now-playing {
      height: 26px;
      background: black;
      p {
         color: white;
         margin: 0;
         padding: 0;
         text-align: left;
         position: relative;
         top: 5px;
         letter-spacing: 1px;
         font-size: 14px;
         left: 10px;
      }
      i.icon-heart {
         position: absolute;
         right: 10px;
         top: 9px;
         color: #999;
         &.favorite { color: $pink; }
      }
   }
   div.player {
      height: 34px;
   }
}

// Only Small
@media (max-width: 768px) {
   i.real-menu {
      display: block;
   }
   .navbar-collapse {
      background: black;
      .navbar-form {
         .form-group {
            i {
               color: white;
            }
         }
      }
   }
   .toggle-search-bar,
   .toggle-player-bar {
      display: block;
   }
   .navbar-header {
      button {
         position: absolute;
         top: -99999px;
      }
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .navbar-collapse {
      .navbar-form {
         position: relative;
         top: 10px;
         .form-group {
            width: 340px;
            input[type=text] {}
            i {}
         }
      }
   }
   #footer {
      bottom: 0px;
   }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}